.App {
  font-family: sans-serif;
  text-align: center;
}
.number-to-roman {
  display: flex;
}
.form-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: left;
}
.result {
  margin-top: 0%;
  border: 1px solid rgba(90, 90, 90, 0.274);
  height: 55px;
  padding: 5px
}
.label {
  margin-bottom: 10px;
}
.swop-btn {
  max-height: 30px;
  margin: 0 10px;
}
.result-btn-media {
  display: none;
}
.result-btn {
  display: block;
}
@media screen and (max-width: 980px) {
  .number-to-roman {
    display: block;
  }
  .swop-btn {
    width: 100%;
    max-height: 30px;
    margin: 10px 0;
  }
  .form-group {
    width: 100%;
  }
  .result-btn {
    display: none;
  }
  .result-btn-media {
    display: block;
  }
}
